<div v-deep v-bind="$attrs" @click.capture="handleLinkClick">
    <div v-if="error" v-text="error"></div>
    <ElCarousel v-else indicator-position="outside" trigger="click" arrow="always" :height="height">
        <ElCarouselItem v-for="item in data">
            <a class="item-container" :style="{backgroundImage:item.image}" :href="item.url">
                <div>{{item.text}}</div>
            </a>
        </ElCarouselItem>
    </ElCarousel>
</div>

<style>
>>> .item-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
</style>
